@mixin tpb-a(){
background-color: rr(rr1);
color: og(og3);
text-decoration: none;
padding:10px 20px;
font-size: 0.7em;
border: 2px solid og(og3);
font-weight: bolder;
box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
@mixin tpb-a-hover(){
background-color:og(og3);
color: rr(rr1);
text-decoration: none;
padding:10px 20px;
font-size: 0.7em;
border: 2px solid og(og3); 
font-weight: bolder;
}
@mixin tpb-container-fluid(){
background-color: rr(rr1);
padding: 9px;
width: 100%;
position: relative;
z-index: 1;
}
@mixin tpb-a2(){
    color: white;
    padding: 5px;
    font-size: 0.8em;
}
@mixin tpb-a2-hover(){
    color: white;
    padding: 5px;
    text-decoration: none;
    font-size: 0.8em;
}
@mixin top-img(){
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    height: 700px;
    width: 100%;
    background: url(../images/calgary-criminal-defence-lawyer-home-page-banner.jpg) no-repeat center center fixed;
    background-size: cover;
}
@mixin r1-h1(){
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
@mixin r1-h5(){
    font-size: 1em;
    font-family: 'Catamaran', sans-serif;
    font-weight: 300;
}
@mixin r1-bk(){
    font-weight: 300;
    font-size: 0.95em;
    font-family: 'Lato', sans-serif;
}
@mixin gr(){
    margin-top: 527px;
    width: 100%;
    height: 185px;
    background-color: rr(rr1);
}
@mixin gr-h5(){
    font-size: 1.2em;
    font-family: 'Catamaran', sans-serif;
}
@mixin trb(){
    width: 100%;
    height: 445px;
    background: url(../images/oykhman-criminal-defence-calgary-logo-banner.gif) no-repeat center center fixed;
    background-size: cover;
}
@mixin trb-h4(){
    color: rr(rr3);
    font-family: 'News Cycle', sans-serif;
    font-weight: bolder;
}
@mixin trb-p(){
    font-size: 1.4em;
    width: 83%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}
@mixin counter-h1(){
    color: rr(rr3);
    font-weight: bolder;
    font-family: 'Lato', sans-serif;
}
@mixin pa(){
    background: url(../images/criminal-defence-practice-areas-calgary-banner.gif) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 1315px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
@mixin red-block(){
    background-color: rr(rr2);
    opacity: 0.8;
}
@mixin pa-lg-6(){
    background-color: rr(rr3);
    font-size: 1em;
}
@mixin csl(){
    height: 250px;
    background-color: og(og2);
    width: 100%;
    padding: 40px;
}
@mixin csl-img(){
    width: 180px;
    height: 70px;
}
@mixin dl-h1(){
    color: rr(rr3);
    font-weight: 300;
    font-family: 'Dancing Script', cursive;
}
@mixin dl-p(){
    font-weight: bolder;
    font-family: 'News Cycle', sans-serif;
}
@mixin dl-lgt(){
    font-weight: 300;
    font-family: 'Catamaran', sans-serif;
    font-size: 0.975em;
}
@mixin cr(){
    background: url(../images/criminal-defence-lawyer-review-calgay-banner.gif) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 1650px;
}
@mixin cr-h1(){
    font-family: 'Satisfy', cursive;
    font-weight: 300;
    font-size: 1.5em;
}
@mixin cr-test(){
    background: url(../images/testimonials-bg2-2.jpg)
    no-repeat center center;
    background-size: cover;
    width: 150%;
    height: 400px; 
    margin-left: -65px;
}
@mixin cr-p(){
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    color: #6b6767;
    font-size: 1.2em;
    width: 100%;
    padding-top: 50px;
}
@mixin cr-fa-star(){
    color: mg(mg1);
    font-size: 1.4em;
}
@mixin sc(){
background: url(../images/criminal-defence-successful-cases-calgary-banner.gif) no-repeat center center fixed;
background-size: cover;
width: 100%;
height: 3200px;
}
@mixin sc-h1(){
    font-family: 'Dancing Script', cursive;
    font-weight: 300;
}
@mixin card-i(){
    text-align: center;
    font-size: 5em;
    color: bb(bb2);
    margin-top: 20px;
}
@mixin card-text(){
    color: rr(rr1);
    font-weight: bolder;
    font-size: 0.7em;
}
@mixin card-h6(){
    color: rr(rr1);
    font-weight: bolder;
}
@mixin nos(){
    background-color: rr(rr1);
    width: 100%;
    height: 320px;
}
@mixin nos-h4(){
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
}
@mixin cdl(){
    background-color: bb(bb1);
    height: 500px;
}
@mixin cdl-img(){
     width: 180px;
     height: 70px;
}
@mixin cdl-h5(){
    font-family: 'Catamaran', sans-serif;
    font-weight: 300;
}
















